@import url('https://fonts.googleapis.com/css2?family=Honk&family=Lilita+One&family=Permanent+Marker&display=swap');

body {
    background-color: rgb(168, 206, 239);
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
}

.nav_link {
    padding: 30px;
    color:black;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    font-family: "permanent marker", "lilita one";
}

main {
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

img {
    width: 60%;
    padding: 20px;
    display: block;
    margin: 0 auto;
}

a {
    color: black;
}
nav a:hover{
    color: whitesmoke;
    background-color:violet;
}

#main_title {
    font-size: 6em;
    color:black;
    text-align: center;
    font-family: 'lilita one', 'honk', 'permanent marker', 'sans-serif';
}

p, h3 {
    text-align: center;
}

main p {
    font-size: 1.2em;
    width: 75%;
    margin: 50px auto;
    line-height: 1.5em;
    padding: 50px;
    background-color: rgb(168, 206, 239);
    border: 5px solid whitesmoke;
    border-radius: 15px;
}

footer p {
    font-size: 1.2em;
}

#sub_title {
    color:whitesmoke;
    font-size: 5em;
}

footer {
    padding: 20px;
}

footer a {
    text-decoration: none;
}
footer a:hover {
    color: whitesmoke;
}